Source: batman
Maintainer: Bardia Moshiri
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/FakeShell/batman
Vcs-Git: https://github.com/FakeShell/batman.git

Package: batman
Architecture: all
Depends: ${misc:Depends},
         bash,
         wlr-randr,
         yad,
Description: batman
 A battery management program and service for linux phones
